<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="Matcha.BackgroundService" version="1.0.5478" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
</packages>