<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.2.1-ci636" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.0.0-ci636" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3-beta2" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.3.0.851321-pre3" targetFramework="net472" />
</packages>